* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.col-2 {
    width: 50%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: max-content;
    z-index: 1;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

#header #main-header {
    display: flex;
    padding: 0 4%;
    align-items: center;
}

.link-logo {
    padding: 10px 16px;
}

#logo {
    height: 60px;
}

#main-header #nav {
    display: flex;
    position: relative;
}


#nav li {
    margin-left: 8px;
    position: relative;
}

#nav > li::before {
    content: '';
    position: absolute;
    background-color: #f8ba1b;
    width: 73%;
    height: 3px;
    bottom: 0;
    display: none;
}

#nav > li.nav-item {
    padding: 30px 16px;
}

#nav > li.nav-item > a {
    color: black;
    font-size: 20px;
}

#nav >li.nav-item:hover::before {
    display: block;
}

#nav > li.nav-item:hover > a{
    color: #f8ba1b;
}


#main-header .float-l {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.float-l .d-search {
    width: 270px;
    display: flex;
    margin-right: 30px;
    border: 1px solid black;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.d-search .search {
    font-size: 15px;
    padding: 8px 12px;
    width: 200px;
    border: none;
    outline: none;
}

.d-search .btn-search {
    position: relative;

}

.d-search .btn-search::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 50%;
    background-color: black;
    transform: translateY(-50%);
}

.ti-search {
    padding-left: 10px;
    height: 100%;
    cursor: pointer;
}

.d-login .link-login {
    line-height: 35px;
    font-size: 17px;
    padding: 10px 12px;
    border-radius: 15px;
    background-color: #f8ba1b;
}

.d-login .link-login:hover {
    background-color: #e0a40c;
}

/* subnav */
#nav .subnav {
    position: absolute;
    top: 84px;
    width: 160%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: none;
}

.subnav .subnav-item {
    padding: 16px 0 16px 0px;
}

.subnav-item a {
    color: black;
    font-size: 17px;
}

#nav > li.nav-item:hover .subnav{
    display: block;
}

.subnav-item .active-subnav-item {
    display: none;
}
.subnav-item:hover .active-subnav-item {
    display: inline-block;
}

.subnav-item:hover a {
    color: #f8ba1b;
}


/* slider */

#slider {
    background: url('../img/sliders/slider1.png') top center / cover no-repeat;
    width: 100%;
    height: 540px;
    margin-top: 84px;
    margin-bottom: 40px;
}

#slider .main-slide {
    padding: 9% 4%;
}

.main-slide .heading-slogan {
    font-size: 34px;
    margin-bottom: 22px;
}
    
.main-slide .mini-slogan {
    font-size: 23px;
    margin-right: 10px;
    display: inline-block;
}
    
.d-register {
    display: inline-block;
}

.d-register .link-resgister {
    font-size: 21px;
    color: white;
    background-color: #f8ba1b;
    padding: 10px 16px;
    border: none;
    border-radius: 13px;
}

.d-register .link-resgister:hover {
    background-color: #e0a40c;
}

/* content */
#content {

}
#content .info {
    padding: 24px 4%;
    margin-bottom: 108px;
}

#content .heading-info {
    text-align: center;
    margin-bottom: 56px;
}

#content .content-info {
    display: flex;
}

#content .main-info {
    padding-right: 76px;
}

#content .heading-TT {
    margin-bottom: 16px;
}

#content .p-info {
    text-align: justify;
    opacity: 0.6;
    margin-bottom: 24px;
}

#content .link-info {
    font-size: 17px;
    color: white;
    background-color: #f8ba1b;
    padding: 10px 16px;
    border: none;
    border-radius: 13px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#content .link-info:hover {
    background-color: #e0a40c;
}

#content .img-info {
    width: 100%;
    border-radius: 18px;
}

/* reason */

#content .reason {
    padding: 0;
    background: url("../img/content/reason2.png") no-repeat;
}

.reason .d-reason {
    padding: 64px 4%;
}

.reason .heading-reason {
    color: white;
    margin-bottom: 20px;
}

.reason .content-reason {
    display: flex;
}

.reason .info-reason {
    width: 30%;
    margin-right: 32px;
}

.reason .heading-info-reason {
    color: #FCBE40;
    font-size: 33px;
    margin-bottom: 24px;
}

.reason .main-reason {
    width: 70%;
    display: flex;
}

.reason .item-reason {
    padding: 0 16px 0 0;
    width: 25%;
}

.w-spacing {
    word-spacing: 5px;
}

.reason .p-reason {
    font-size: 14px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    line-height: 24px;
}

.reason .heading-item-reason {
    color: #FCBE40;
    font-size: 37px;
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
}
